.app {
    height: 100vh;
    padding: 20px 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left,
.right {
    margin-top: 10px;
    vertical-align: top;
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    padding: 0 10px 20px;
}

.right {
    float: right;
}

.heading {
    margin: 0;
}

.title {
    font-size: 22px;
}

.commonCounting {
    border: 2px solid;
    border-radius: 5px;
    padding: 0 10px 20px;
    margin-top: 20px;
}

input {
    outline: none;
    padding: 5px;
    margin: 0 5px 0 0;
    border: 0;
    border-radius: 5px;
}

button {
    outline: none;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
}

table {
    margin-top: 20px;
    width: 355px;
}

.label,
th {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

.label {
    width: 165px;
    display: inline-block;
    margin: 5px;
}

td {
    color: #000;
    background: #EAECEB;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.sum {
    padding: 20px 0 0;
    margin: 0;
}

.notification {
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px;
    border-radius: 5px;
    background: #FF033E;
    color: #fff;
    font-size: 16px;
}

.app_theme_pink {
    background: #FFDDC4;
}

.app_theme_pink .right,
.app_theme_pink .left,
.app_theme_pink .commonCounting{
    border-color: #BF92B3;
}

.app_theme_pink .heading,
.app_theme_pink .title,
.app_theme_pink .sum {
    color: #BF92B3;
}

.app_theme_pink .label,
.app_theme_pink th,
.app_theme_pink button {
    color: #fff;
    background: #BF92B3;
}

.app_theme_blue {
    background: #AACFE5;
}

.app_theme_blue .right,
.app_theme_blue .left,
.app_theme_blue .commonCounting{
    border-color: #016AA1;
}

.app_theme_blue .heading,
.app_theme_blue .title,
.app_theme_blue .sum {
    color: #016AA1;
}

.app_theme_blue .label,
.app_theme_blue th,
.app_theme_blue button {
    color: #fff;
    background: #016AA1;
}
