.App {
    height: 100vh;
    padding: 20px 2%;
}

.left,
.right {
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.heading {
    margin: 0;
    text-decoration: underline;
}

.title {
    font-size: 22px;
    text-decoration: underline;
}

.CommonCounting {
    padding: 0 0 20px;
}

input {
    outline: none;
    padding: 5px;
    margin: 0 5px 0 0;
    border: 0;
    border-radius: 5px;
}

button {
    outline: none;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
}

table {
    margin-top: 20px;
    width: 355px;
}

.label,
th {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

.label {
    width: 165px;
    display: inline-block;
    margin: 5px;
}

td {
    color: #000;
    background: #EAECEB;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.sum {
    padding: 20px 0 0;
    margin: 0;
}

.Notification {
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px;
    border-radius: 5px;
    background: #FF033E;
    color: #fff;
    font-size: 16px;
}

.App_theme_pink {
    background: #FFDDC4;
}

.App_theme_pink .heading,
.App_theme_pink .title,
.App_theme_pink .sum {
    color: #BF92B3;
}

.App_theme_pink .label,
.App_theme_pink th,
.App_theme_pink button {
    color: #fff;
    background: #BF92B3;
}
